/* F37Jan */

// standard weight
@font-face {
    font-family: "F37 Jan";
    src: url(/fonts/F37Jan/F37Jan-Regular.eot);
    src: url(/fonts/F37Jan/F37Jan-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/F37Jan/F37Jan-Regular.woff) format('woff'),
    url(/fonts/F37Jan/F37Jan-Regular.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "F37 Jan";
    src: url(/fonts/F37Jan/F37Jan-RegularItalic.eot);
    src: url(/fonts/F37Jan/F37Jan-RegularItalic.eot?#iefix) format('embedded-opentype'),
    url(/fonts/F37Jan/F37Jan-RegularItalic.woff) format('woff'),
    url(/fonts/F37Jan/F37Jan-RegularItalic.svg) format('svg');
    font-weight: 400;
    font-style: italic
}

// bold weight
@font-face {
    font-family: "F37 Jan";
    src: url(/fonts/F37Jan/F37Jan-Bold.eot);
    src: url(/fonts/F37Jan/F37Jan-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/F37Jan/F37Jan-Bold.woff) format('woff'),
    url(/fonts/F37Jan/F37Jan-Bold.svg) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "F37 Jan";
    src: url(/fonts/F37Jan/F37Jan-BoldItalic.eot);
    src: url(/fonts/F37Jan/F37Jan-BoldItalic.eot?#iefix) format('embedded-opentype'),
    url(/fonts/F37Jan/F37Jan-BoldItalic.woff) format('woff'),
    url(/fonts/F37Jan/F37Jan-BoldItalic.svg) format('svg');
    font-weight: 700;
    font-style: italic
}

/* Aleo */

// standard weight
@font-face {
    font-family: "Aleo";
    src: url(/fonts/Aleo/ALEO-REGULAR.eot);
    src: url(/fonts/Aleo/ALEO-REGULAR.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Aleo/ALEO-REGULAR.woff) format('woff'),
    url(/fonts/Aleo/ALEO-REGULAR.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Aleo";
    src: url(/fonts/Aleo/ALEO-ITALIC.eot);
    src: url(/fonts/Aleo/ALEO-ITALIC.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Aleo/ALEO-ITALIC.woff) format('woff'),
    url(/fonts/Aleo/ALEO-ITALIC.svg) format('svg');
    font-weight: 400;
    font-style: italic
}

// bold weight
@font-face {
    font-family: "Aleo";
    src: url(/fonts/Aleo/ALEO-BOLD.eot);
    src: url(/fonts/Aleo/ALEO-BOLD.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Aleo/ALEO-BOLD.woff) format('woff'),
    url(/fonts/Aleo/ALEO-BOLD.svg) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Aleo";
    src: url(/fonts/Aleo/ALEO-BOLDITALIC.eot);
    src: url(/fonts/Aleo/ALEO-BOLDITALIC.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Aleo/ALEO-BOLDITALIC.woff) format('woff'),
    url(/fonts/Aleo/ALEO-BOLDITALIC.svg) format('svg');
    font-weight: 700;
    font-style: italic
}
